In [2]:
%matplotlib inline
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import statsmodels.api as sm

In [3]:
# Load the data
# Statistics of each game for 10 seasons
file_path = './epl_game_data/2021_2022_season.csv'
raw_df = pd.read_csv(file_path)
raw_df

,Unnamed: 0,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,0,2021-22,2021-08-13T20:00:00Z,Brentford,Arsenal,2,0,H,1.0,0.0,...,3.0,4.0,2.0,5.0,12.0,8.0,0.0,0.0,0.0,0.0
1,1,2021-22,2021-08-14T12:30:00Z,Man United,Leeds,5,1,H,1.0,0.0,...,8.0,3.0,5.0,4.0,11.0,9.0,1.0,2.0,0.0,0.0
2,2,2021-22,2021-08-14T15:00:00Z,Burnley,Brighton,1,2,A,1.0,0.0,...,3.0,8.0,7.0,6.0,10.0,7.0,2.0,1.0,0.0,0.0
3,3,2021-22,2021-08-14T15:00:00Z,Chelsea,Crystal Palace,3,0,H,2.0,0.0,...,6.0,1.0,5.0,2.0,15.0,11.0,0.0,0.0,0.0,0.0
4,4,2021-22,2021-08-14T15:00:00Z,Everton,Southampton,3,1,H,0.0,1.0,...,6.0,3.0,6.0,8.0,13.0,15.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,304,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,...,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
305,305,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,...,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
306,306,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,...,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
307,307,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,...,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
308,308,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,...,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [4]:
# Function to transform Full Time Results (FTR) into numeric data type
def transformResult(row):
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

raw_df['Result'] = raw_df.apply(lambda row: transformResult(row),axis=1)

# Check that it worked.
raw_df

,Unnamed: 0,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AST,HC,AC,HF,AF,HY,AY,HR,AR,Result
0,0,2021-22,2021-08-13T20:00:00Z,Brentford,Arsenal,2,0,H,1.0,0.0,...,4.0,2.0,5.0,12.0,8.0,0.0,0.0,0.0,0.0,1
1,1,2021-22,2021-08-14T12:30:00Z,Man United,Leeds,5,1,H,1.0,0.0,...,3.0,5.0,4.0,11.0,9.0,1.0,2.0,0.0,0.0,1
2,2,2021-22,2021-08-14T15:00:00Z,Burnley,Brighton,1,2,A,1.0,0.0,...,8.0,7.0,6.0,10.0,7.0,2.0,1.0,0.0,0.0,-1
3,3,2021-22,2021-08-14T15:00:00Z,Chelsea,Crystal Palace,3,0,H,2.0,0.0,...,1.0,5.0,2.0,15.0,11.0,0.0,0.0,0.0,0.0,1
4,4,2021-22,2021-08-14T15:00:00Z,Everton,Southampton,3,1,H,0.0,1.0,...,3.0,6.0,8.0,13.0,15.0,2.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,304,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,...,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0,-1
305,305,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,...,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0,1
306,306,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,...,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0,1
307,307,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,...,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0,1
308,308,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,...,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0,0

In [5]:
# Get a list of all the column names.
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  309 non-null    int64
 1   Season      309 non-null    object
 2   DateTime    309 non-null    object
 3   HomeTeam    309 non-null    object
 4   AwayTeam    309 non-null    object
 5   FTHG        309 non-null    int64
 6   FTAG        309 non-null    int64
 7   FTR         309 non-null    object
 8   HTHG        309 non-null    float64
 9   HTAG        309 non-null    float64
 10  HTR         309 non-null    object
 11  Referee     309 non-null    object
 12  HS          309 non-null    float64
 13  AS          309 non-null    float64
 14  HST         309 non-null    float64
 15  AST         309 non-null    float64
 16  HC          309 non-null    float64
 17  AC          309 non-null    float64
 18  HF          309 non-null    float64
 19  AF          309 non-null    float64
 20  HY          309 non-null    float64
 21  AY          309 non-null    float64
 22  HR          309 non-null    float64
 23  AR          309 non-null    float64
 24  Result      309 non-null    int64
dtypes: float64(14), int64(4), object(7)
memory usage: 60.5+ KB

In [6]:
# Get each team's offensive/defensive capabilities per season.
def get_features_per_season(data_now):
    table_new = pd.DataFrame(columns=('Team','HAS','AAS'
                                      ,'HAC','AAC'))
    
    home_data = data_now.groupby('HomeTeam')
    away_data = data_now.groupby('AwayTeam')
    
    # Sum the full time home and away goals.
    table_new.Team = list(home_data.groups.keys())
    home_goals_scored = home_data.FTHG.sum().values
    home_goals_conceded = home_data.FTAG.sum().values
    away_goals_scored = away_data.FTAG.sum().values
    away_goals_conceded = away_data.FTHG.sum().values
    
    
    # Sum the shots on target
    home_shots_on_target = home_data.HST.sum().values
    away_shots_on_target = home_data.AST.sum().values
    
    
    # Average full time home/away attacking/defensive strength.
    table_new.HAS = (home_goals_scored / 19.0)  # avg home goals scored
    table_new.AAS = (away_goals_scored / 19.0)  # avg away goals scored
    table_new.HAC = (home_goals_conceded / 19.0)  # avg home goals conceded
    table_new.AAC = (away_goals_conceded / 19.0)  # avg away goals conceded
    
  
    
    return table_new

# create a team dataframe using our function to calculate strengths and averages for home and away.
team_data = get_features_per_season(raw_df)
# Set the team as the index (this is used to merge dataframes in the next step).
team_data.set_index('Team', inplace=True)
# Create an empty team dataframe to use at the end, in order to get a final Premier League table.
last_season_table = pd.DataFrame(index=team_data.index)
# Scale the data.
scaler = MinMaxScaler()
# Fit the data to the scaler and show the final form.
team_data = pd.DataFrame(scaler.fit_transform(team_data), columns=team_data.columns, index=team_data.index)
team_data

                    HAS      AAS       HAC       AAC
Team
Arsenal         0.46875  0.37500  0.233333  0.466667
Aston Villa     0.43750  0.31250  0.600000  0.433333
Brentford       0.25000  0.40625  0.400000  0.700000
Brighton        0.00000  0.31250  0.433333  0.300000
Burnley         0.09375  0.12500  0.433333  0.533333
Chelsea         0.59375  0.84375  0.233333  0.033333
Crystal Palace  0.46875  0.31250  0.333333  0.500000
Everton         0.31250  0.15625  0.400000  0.833333
Leeds           0.25000  0.37500  0.766667  1.000000
Leicester       0.50000  0.34375  0.433333  0.666667
Liverpool       0.90625  1.00000  0.000000  0.233333
Man City        1.00000  0.68750  0.166667  0.000000
Man United      0.46875  0.50000  0.400000  0.500000
Newcastle       0.34375  0.15625  0.600000  0.700000
Norwich         0.06250  0.00000  0.800000  0.800000
Southampton     0.31250  0.28125  0.433333  0.800000
Tottenham       0.65625  0.53125  0.333333  0.400000
Watford         0.12500  0.21875  1.000000  0.500000
West Ham        0.59375  0.43750  0.466667  0.433333
Wolves          0.25000  0.21875  0.300000  0.133333

In [7]:
# Create a function that ties the HomeAttackingStrength(HAS), AwayAttackingStrenght(AAS),
# HomeDefensiveStrength(HDS), AwayDefensiveStrength(ADS) to each game for the 2019/20 season.
h_a_cols = ['HomeTeam', 'AwayTeam']
data_prep = raw_df[h_a_cols]

# Add in the Strengths by Home and Away teams.
data_prep = data_prep.merge(team_data['HAS'], left_on='HomeTeam', right_index=True, how='left')
data_prep = data_prep.merge(team_data['HAC'], left_on='HomeTeam', right_index=True, how='left')
data_prep = data_prep.merge(team_data['AAS'], left_on='AwayTeam', right_index=True, how='left')
data_prep = data_prep.merge(team_data['AAC'], left_on='AwayTeam', right_index=True, how='left')

# Calculate the attacking strengths of each team
data_prep['HAtS'] = (data_prep['HAS'] * data_prep['AAC']); # Home Attack Strength
data_prep['AAtS'] = (data_prep['HAC'] * data_prep['AAS']); # Away Attack Strength
    
    
# Add in the Results
data_prep = data_prep.merge(raw_df['Result'], left_index=True, right_index=True)

data_prep

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result
0,Brentford,Arsenal,0.25000,0.400000,0.37500,0.466667,0.116667,0.150000,1
1,Man United,Leeds,0.46875,0.400000,0.37500,1.000000,0.468750,0.150000,1
2,Burnley,Brighton,0.09375,0.433333,0.31250,0.300000,0.028125,0.135417,-1
3,Chelsea,Crystal Palace,0.59375,0.233333,0.31250,0.500000,0.296875,0.072917,1
4,Everton,Southampton,0.31250,0.400000,0.28125,0.800000,0.250000,0.112500,1
...,...,...,...,...,...,...,...,...,...
304,Aston Villa,Tottenham,0.43750,0.600000,0.53125,0.400000,0.175000,0.318750,-1
305,Brentford,West Ham,0.25000,0.400000,0.43750,0.433333,0.108333,0.175000,1
306,Leicester,Crystal Palace,0.50000,0.433333,0.31250,0.500000,0.250000,0.135417,1
307,Norwich,Burnley,0.06250,0.800000,0.12500,0.533333,0.033333,0.100000,1
308,Man City,Liverpool,1.00000,0.166667,1.00000,0.233333,0.233333,0.166667,0

In [8]:
# Check that there are no null values so we can ensure we are using a complete dataset.
data_prep.isnull().sum()

HomeTeam    0
AwayTeam    0
HAS         0
HAC         0
AAS         0
AAC         0
HAtS        0
AAtS        0
Result      0
dtype: int64

In [9]:
# Turn our game dataframe into a numerical dataframe by dropping the string columns.
rm_col_list = ['HomeTeam','AwayTeam']
col_list = data_prep.columns.values.tolist()
col_list = [x for x in col_list if x not in rm_col_list]

to_use = data_prep[col_list]
X = [x for x in col_list if x != 'Result']
Y = [x for x in col_list if x == 'Result']

to_use

         HAS       HAC      AAS       AAC      HAtS      AAtS  Result
0    0.25000  0.400000  0.37500  0.466667  0.116667  0.150000       1
1    0.46875  0.400000  0.37500  1.000000  0.468750  0.150000       1
2    0.09375  0.433333  0.31250  0.300000  0.028125  0.135417      -1
3    0.59375  0.233333  0.31250  0.500000  0.296875  0.072917       1
4    0.31250  0.400000  0.28125  0.800000  0.250000  0.112500       1
..       ...       ...      ...       ...       ...       ...     ...
304  0.43750  0.600000  0.53125  0.400000  0.175000  0.318750      -1
305  0.25000  0.400000  0.43750  0.433333  0.108333  0.175000       1
306  0.50000  0.433333  0.31250  0.500000  0.250000  0.135417       1
307  0.06250  0.800000  0.12500  0.533333  0.033333  0.100000       1
308  1.00000  0.166667  1.00000  0.233333  0.233333  0.166667       0

[309 rows x 7 columns]

In [10]:
# Seperate our data into X and Y sections and instantiate, fit and get a score.
X_data = to_use.drop('Result', axis=1)
y_data = to_use['Result']

# Seperate our data into training and testing and instantiate our second model.
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, random_state=78)


# Instantiate the model.
model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model.
model = model.fit(X_train, y_train)

In [11]:
# Get the predicted for our test results so we can assess our model.
predicted = model.predict(X_test)
predicted

array([-1, -1,  1,  1,  0,  1,  0, -1,  1,  0,  0,  1,  1,  0, -1, -1,  0,
       -1, -1,  1,  0, -1,  1,  0,  1,  0,  1,  1,  1,  1,  1,  1,  0,  0,
       -1,  1,  1,  1,  1, -1, -1,  1, -1,  1,  0,  1, -1, -1,  1,  0,  1,
        0,  1, -1,  1, -1,  1,  1, -1,  1,  0,  1,  0,  0,  1, -1, -1,  0,
        1,  1,  1,  0, -1, -1, -1, -1, -1,  1])

In [12]:
# Get the training and test accuracy/variance scores of our models and assess. 
acc_score = accuracy_score(y_test, predicted)
print("Accuracy score: " + str(acc_score))
scores = cross_val_score(model, X_train, y_train, cv=10)
print("Cross val scores")
print(scores)

Accuracy score: 0.48717948717948717
Cross val scores
[0.45833333 0.52173913 0.47826087 0.60869565 0.43478261 0.47826087
 0.60869565 0.47826087 0.52173913 0.65217391]

In [13]:
# Calculate feature importance in the Random Forest model.
importances = model.feature_importances_
importances

array([0.13710738, 0.12936346, 0.1126739 , 0.13309345, 0.23874381,
       0.249018  ])

In [14]:
# We can sort the features by their importance.
sorted(zip(model.feature_importances_, X_data.columns), reverse=True)

[(0.2490179955545503, 'AAtS'),
 (0.23874381138985487, 'HAtS'),
 (0.13710738181708018, 'HAS'),
 (0.133093445928643, 'AAC'),
 (0.12936346278294947, 'HAC'),
 (0.11267390252692237, 'AAS')]

In [15]:
# Turn the array of our predicted game by game results into its own dataframe.
predicted = model.predict(X_data)
predicted
predictedDF = pd.DataFrame(predicted, columns=['Predicted'])
predictedDF.head()

   Predicted
0          1
1          1
2          0
3          1
4          1

In [16]:
# Merge the games dataframe with actual and predicted results.
to_use = to_use.merge(predictedDF, left_index=True, right_index=True)
fixture_list = data_prep.merge(predictedDF, left_index=True, right_index=True)
fixture_list

,HomeTeam,AwayTeam,HAS,HAC,AAS,AAC,HAtS,AAtS,Result,Predicted
0,Brentford,Arsenal,0.25000,0.400000,0.37500,0.466667,0.116667,0.150000,1,1
1,Man United,Leeds,0.46875,0.400000,0.37500,1.000000,0.468750,0.150000,1,1
2,Burnley,Brighton,0.09375,0.433333,0.31250,0.300000,0.028125,0.135417,-1,0
3,Chelsea,Crystal Palace,0.59375,0.233333,0.31250,0.500000,0.296875,0.072917,1,1
4,Everton,Southampton,0.31250,0.400000,0.28125,0.800000,0.250000,0.112500,1,1
...,...,...,...,...,...,...,...,...,...,...
304,Aston Villa,Tottenham,0.43750,0.600000,0.53125,0.400000,0.175000,0.318750,-1,0
305,Brentford,West Ham,0.25000,0.400000,0.43750,0.433333,0.108333,0.175000,1,-1
306,Leicester,Crystal Palace,0.50000,0.433333,0.31250,0.500000,0.250000,0.135417,1,1
307,Norwich,Burnley,0.06250,0.800000,0.12500,0.533333,0.033333,0.100000,1,-1
308,Man City,Liverpool,1.00000,0.166667,1.00000,0.233333,0.233333,0.166667,0,0

In [17]:
# Calculate points based off of wins, draws, and losses.
last_season_table['Actual Points'] = 0 
last_season_table['Predicted Points'] = 0 

def make_actual_table(x, ht, at, which):
    if x == 1:
        last_season_table.loc[ht, which] += 3
    elif x == 0:
        last_season_table.loc[ht, which] += 1
        last_season_table.loc[at, which] += 1
    elif x == -1:
        last_season_table.loc[at, which] += 3

fixture_list.apply(lambda x: make_actual_table(x.Result, x.HomeTeam, x.AwayTeam, 'Actual Points'), axis=1)
fixture_list.apply(lambda x: make_actual_table(x.Predicted, x.HomeTeam, x.AwayTeam, 'Predicted Points'), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
304    None
305    None
306    None
307    None
308    None
Length: 309, dtype: object

In [18]:
# 2021/22 Season actual vs. predicted table
actual_index = last_season_table.sort_values(by='Actual Points', ascending=0).index
predicted_index = last_season_table.sort_values(by='Predicted Points', ascending=0).index

last_season_table.sort_values(by='Actual Points', ascending=0)

                Actual Points  Predicted Points
Team
Man City                   74                73
Liverpool                  73                73
Chelsea                    62                69
Tottenham                  57                56
Arsenal                    54                52
Man United                 51                47
West Ham                   51                44
Wolves                     49                45
Leicester                  40                43
Crystal Palace             37                47
Brighton                   37                36
Aston Villa                36                43
Southampton                36                39
Brentford                  36                37
Newcastle                  34                28
Leeds                      33                37
Everton                    28                32
Burnley                    24                20
Watford                    22                19
Norwich                    21                11

In [19]:
# Getting data for the newly promoted teams.
# Load the new season
path_ = './epl_game_data/epl-2022-UTC.csv'
new_season_df = pd.read_csv(path_)
new_season_df.head(20)

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
0,1,1,05/08/2022 19:00,Selhurst Park,Crystal Palace,Arsenal,0 - 2
1,2,1,06/08/2022 11:30,Craven Cottage,Fulham,Liverpool,2 - 2
2,3,1,06/08/2022 14:00,Vitality Stadium,Bournemouth,Aston Villa,2 - 0
3,4,1,06/08/2022 14:00,Elland Road,Leeds,Wolves,2 - 1
4,6,1,06/08/2022 14:00,St. James' Park,Newcastle,Nottingham Forest,2 - 0
5,7,1,06/08/2022 14:00,Tottenham Hotspur Stadium,Spurs,Southampton,4 - 1
6,8,1,06/08/2022 16:30,Goodison Park,Everton,Chelsea,0 - 1
7,5,1,07/08/2022 13:00,King Power Stadium,Leicester,Brentford,2 - 2
8,9,1,07/08/2022 13:00,Old Trafford,Man Utd,Brighton,1 - 2
9,10,1,07/08/2022 15:30,London Stadium,West Ham,Man City,0 - 2
10,12,2,13/08/2022 11:30,Villa Park,Aston Villa,Everton,2 - 1
11,11,2,13/08/2022 14:00,Emirates Stadium,Arsenal,Leicester,4 - 2
12,14,2,13/08/2022 14:00,Amex Stadium,Brighton,Newcastle,0 - 0
13,17,2,13/08/2022 14:00,Etihad Stadium,Man City,Bournemouth,4 - 0
14,19,2,13/08/2022 14:00,St. Mary's Stadium,Southampton,Leeds,2 - 2
15,20,2,13/08/2022 14:00,Molineux Stadium,Wolves,Fulham,0 - 0
16,13,2,13/08/2022 16:30,Brentford Community Stadium,Brentford,Man Utd,4 - 0
17,18,2,14/08/2022 13:00,The City Ground,Nottingham Forest,West Ham,1 - 0
18,15,2,14/08/2022 15:30,Stamford Bridge,Chelsea,Spurs,2 - 2
19,16,2,15/08/2022 19:00,Anfield,Liverpool,Crystal Palace,1 - 1

In [20]:
# Correct team names: Man Utd to Manchester United, Spurs to Tottenham, 
corrected_names = {
    'Man Utd': 'Man United',
    'Spurs': 'Tottenham'
}

new_season_df.replace({'Home Team':corrected_names,'Away Team':corrected_names},inplace=True)
new_season_df.head(20)

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
0,1,1,05/08/2022 19:00,Selhurst Park,Crystal Palace,Arsenal,0 - 2
1,2,1,06/08/2022 11:30,Craven Cottage,Fulham,Liverpool,2 - 2
2,3,1,06/08/2022 14:00,Vitality Stadium,Bournemouth,Aston Villa,2 - 0
3,4,1,06/08/2022 14:00,Elland Road,Leeds,Wolves,2 - 1
4,6,1,06/08/2022 14:00,St. James' Park,Newcastle,Nottingham Forest,2 - 0
5,7,1,06/08/2022 14:00,Tottenham Hotspur Stadium,Tottenham,Southampton,4 - 1
6,8,1,06/08/2022 16:30,Goodison Park,Everton,Chelsea,0 - 1
7,5,1,07/08/2022 13:00,King Power Stadium,Leicester,Brentford,2 - 2
8,9,1,07/08/2022 13:00,Old Trafford,Man United,Brighton,1 - 2
9,10,1,07/08/2022 15:30,London Stadium,West Ham,Man City,0 - 2
10,12,2,13/08/2022 11:30,Villa Park,Aston Villa,Everton,2 - 1
11,11,2,13/08/2022 14:00,Emirates Stadium,Arsenal,Leicester,4 - 2
12,14,2,13/08/2022 14:00,Amex Stadium,Brighton,Newcastle,0 - 0
13,17,2,13/08/2022 14:00,Etihad Stadium,Man City,Bournemouth,4 - 0
14,19,2,13/08/2022 14:00,St. Mary's Stadium,Southampton,Leeds,2 - 2
15,20,2,13/08/2022 14:00,Molineux Stadium,Wolves,Fulham,0 - 0
16,13,2,13/08/2022 16:30,Brentford Community Stadium,Brentford,Man United,4 - 0
17,18,2,14/08/2022 13:00,The City Ground,Nottingham Forest,West Ham,1 - 0
18,15,2,14/08/2022 15:30,Stamford Bridge,Chelsea,Tottenham,2 - 2
19,16,2,15/08/2022 19:00,Anfield,Liverpool,Crystal Palace,1 - 1

In [21]:
# Drop Match Number and Round Number and check remianing data types.
new_team_scores = new_season_df
new_team_scores.drop(['Match Number','Round Number', 'Location'],axis=1, inplace=True)
new_team_scores = new_team_scores.dropna(axis=0, how='any')
new_team_scores.head()

               Date       Home Team          Away Team Result
0  05/08/2022 19:00  Crystal Palace            Arsenal  0 - 2
1  06/08/2022 11:30          Fulham          Liverpool  2 - 2
2  06/08/2022 14:00     Bournemouth        Aston Villa  2 - 0
3  06/08/2022 14:00           Leeds             Wolves  2 - 1
4  06/08/2022 14:00       Newcastle  Nottingham Forest  2 - 0

In [22]:
# Seperate the results column into Full Time Home Goals and Away Time Home Goals
new_team_scores['FTHG'] = new_team_scores['Result'].astype(str).str[0]
new_team_scores['FTAG'] = new_team_scores['Result'].str.strip().str[-1]
new_team_scores.drop('Result',axis=1, inplace=True)
new_team_scores

/Users/samuelcaslowitz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/samuelcaslowitz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/samuelcaslowitz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                Date          Home Team          Away Team FTHG FTAG
0   05/08/2022 19:00     Crystal Palace            Arsenal    0    2
1   06/08/2022 11:30             Fulham          Liverpool    2    2
2   06/08/2022 14:00        Bournemouth        Aston Villa    2    0
3   06/08/2022 14:00              Leeds             Wolves    2    1
4   06/08/2022 14:00          Newcastle  Nottingham Forest    2    0
5   06/08/2022 14:00          Tottenham        Southampton    4    1
6   06/08/2022 16:30            Everton            Chelsea    0    1
7   07/08/2022 13:00          Leicester          Brentford    2    2
8   07/08/2022 13:00         Man United           Brighton    1    2
9   07/08/2022 15:30           West Ham           Man City    0    2
10  13/08/2022 11:30        Aston Villa            Everton    2    1
11  13/08/2022 14:00            Arsenal          Leicester    4    2
12  13/08/2022 14:00           Brighton          Newcastle    0    0
13  13/08/2022 14:00           Man City        Bournemouth    4    0
14  13/08/2022 14:00        Southampton              Leeds    2    2
15  13/08/2022 14:00             Wolves             Fulham    0    0
16  13/08/2022 16:30          Brentford         Man United    4    0
17  14/08/2022 13:00  Nottingham Forest           West Ham    1    0
18  14/08/2022 15:30            Chelsea          Tottenham    2    2
19  15/08/2022 19:00          Liverpool     Crystal Palace    1    1
20  20/08/2022 11:30          Tottenham             Wolves    1    0
21  20/08/2022 14:00     Crystal Palace        Aston Villa    3    1
22  20/08/2022 14:00            Everton  Nottingham Forest    1    1
23  20/08/2022 14:00             Fulham          Brentford    3    2
24  20/08/2022 14:00          Leicester        Southampton    1    2
25  20/08/2022 16:30        Bournemouth            Arsenal    0    3
26  21/08/2022 13:00              Leeds            Chelsea    3    0
27  21/08/2022 13:00           West Ham           Brighton    0    2
28  21/08/2022 15:30          Newcastle           Man City    3    3
29  22/08/2022 19:00         Man United          Liverpool    2    1
30  27/08/2022 11:30        Southampton         Man United    0    1
31  27/08/2022 14:00          Brentford            Everton    1    1
32  27/08/2022 14:00           Brighton              Leeds    1    0
33  27/08/2022 14:00            Chelsea          Leicester    2    1
34  27/08/2022 14:00          Liverpool        Bournemouth    9    0
35  27/08/2022 14:00           Man City     Crystal Palace    4    2
36  27/08/2022 16:30            Arsenal             Fulham    2    1
37  28/08/2022 13:00        Aston Villa           West Ham    0    1
38  28/08/2022 13:00             Wolves          Newcastle    1    1
39  28/08/2022 15:30  Nottingham Forest          Tottenham    0    2
40  30/08/2022 18:30             Fulham           Brighton    2    1
41  30/08/2022 18:30     Crystal Palace          Brentford    1    1
42  30/08/2022 18:45        Southampton            Chelsea    2    1
43  30/08/2022 19:00              Leeds            Everton    1    1
44  31/08/2022 18:30        Bournemouth             Wolves    0    0
45  31/08/2022 18:30            Arsenal        Aston Villa    2    1
46  31/08/2022 18:30           Man City  Nottingham Forest    6    0
47  31/08/2022 18:45           West Ham          Tottenham    1    1
48  31/08/2022 19:00          Liverpool          Newcastle    2    1
49  01/09/2022 19:00          Leicester         Man United    0    1
50  03/09/2022 11:30            Everton          Liverpool    0    0
51  03/09/2022 14:00          Brentford              Leeds    5    2
52  03/09/2022 14:00            Chelsea           West Ham    2    1
53  03/09/2022 14:00          Newcastle     Crystal Palace    0    0
54  03/09/2022 14:00  Nottingham Forest        Bournemouth    2    3
55  03/09/2022 14:00          Tottenham             Fulham    2    1
56  03/09/2022 14:00             Wolves        Southampton    1    0
57  03/09/2022 16:30        Aston Villa           Man City    1    1
58  04/09/2022 13:00           Brighton          Leicester    5    2
59  04/09/2022 15:30         Man United            Arsenal    3    1

In [23]:
# Check the data types.
new_team_scores.dtypes

Date         object
Home Team    object
Away Team    object
FTHG         object
FTAG         object
dtype: object

In [24]:
# In order to transform our dataset, we will need to turn the FTHG and FTAG into integers
new_team_scores['FTHG'] = pd.to_numeric(new_team_scores['FTHG'])
new_team_scores['FTAG'] = pd.to_numeric(new_team_scores['FTAG'])
new_team_scores.dtypes

/Users/samuelcaslowitz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/samuelcaslowitz/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Date         object
Home Team    object
Away Team    object
FTHG          int64
FTAG          int64
dtype: object

In [25]:
curr_home_data = new_team_scores.groupby('Home Team').sum()
curr_away_data = new_team_scores.groupby('Away Team').sum()
curr_home_data['HAS'] = curr_home_data['FTHG'] / 6 # Home Average Scores
curr_home_data['HAC'] = curr_home_data['FTAG'] / 6 # Home Average Conceded
curr_away_data['AAS'] = curr_away_data['FTAG'] / 6 # Away average Scored
curr_away_data['AAC'] = curr_away_data['FTHG'] / 6 # Away Average Conceded
curr_team_data = pd.DataFrame()
curr_team_data['Team'] = curr_home_data.index

curr_team_data = curr_team_data.merge(curr_home_data['HAS'], left_on='Team', right_index=True)
curr_team_data = curr_team_data.merge(curr_home_data['HAC'], left_on='Team', right_index=True)

curr_team_data = curr_team_data.merge(curr_away_data['AAS'], left_on='Team', right_index=True)
curr_team_data = curr_team_data.merge(curr_away_data['AAC'], left_on='Team', right_index=True)

curr_team_data.set_index("Team", inplace=True)
curr_season_table= pd.DataFrame(index=curr_team_data.index)
curr_team_data = team_data.merge(curr_team_data, 
                                 left_index=True, right_index=True,how='outer'
                                )

In [26]:
# Drop the teams that were relegated last season.
relegated = ['Burnley','Norwich','Watford']
curr_team_data.drop(index=relegated)

,HAS_x,AAS_x,HAC_x,AAC_x,HAS_y,HAC_y,AAS_y,AAC_y
Team,,,,,,,,
Arsenal,0.46875,0.37500,0.233333,0.466667,1.333333,0.666667,1.000000,0.500000
Aston Villa,0.43750,0.31250,0.600000,0.433333,0.500000,0.500000,0.333333,1.166667
Bournemouth,NaN,NaN,NaN,NaN,0.333333,0.500000,0.500000,2.500000
Brentford,0.25000,0.40625,0.400000,0.700000,1.666667,0.500000,0.833333,1.000000
Brighton,0.00000,0.31250,0.433333,0.300000,1.000000,0.333333,0.833333,0.500000
Chelsea,0.59375,0.84375,0.233333,0.033333,1.000000,0.666667,0.333333,0.833333
Crystal Palace,0.46875,0.31250,0.333333,0.500000,0.666667,0.666667,0.500000,0.833333
Everton,0.31250,0.15625,0.400000,0.833333,0.166667,0.333333,0.500000,0.666667
Fulham,NaN,NaN,NaN,NaN,1.166667,0.833333,0.333333,0.666667
Leeds,0.25000,0.37500,0.766667,1.000000,1.000000,0.333333,0.666667,1.333333
Leicester,0.50000,0.34375,0.433333,0.666667,0.500000,0.833333,0.833333,1.833333
Liverpool,0.90625,1.00000,0.000000,0.233333,2.000000,0.333333,0.500000,0.666667
Man City,1.00000,0.68750,0.166667,0.000000,2.333333,0.333333,1.000000,0.666667
Man United,0.46875,0.50000,0.400000,0.500000,1.000000,0.666667,0.333333,0.666667
Newcastle,0.34375,0.15625,0.600000,0.700000,0.833333,0.500000,0.333333,0.500000
Nottingham Forest,NaN,NaN,NaN,NaN,0.500000,0.833333,0.166667,1.500000
Southampton,0.31250,0.28125,0.433333,0.800000,0.666667,0.666667,0.500000,1.000000
Tottenham,0.65625,0.53125,0.333333,0.400000,1.166667,0.333333,0.833333,0.500000
West Ham,0.59375,0.43750,0.466667,0.433333,0.166667,0.833333,0.333333,0.500000
Wolves,0.25000,0.21875,0.300000,0.133333,0.333333,0.166667,0.166667,0.500000

In [27]:
# Sum the averages for HAS
has = ['HAS_x','HAS_y']
curr_team_data['HAS'] = curr_team_data[has].mean(axis=1)
curr_team_data.drop(has,axis=1, inplace=True)

# Sum the averages for HAC
hac = ['HAC_x','HAC_y']
curr_team_data['HAC'] = curr_team_data[hac].mean(axis=1)
curr_team_data.drop(hac,axis=1, inplace=True)

# Sum the averages for AAS
aas = ['AAS_x','AAS_y']
curr_team_data['AAS'] = curr_team_data[aas].mean(axis=1)
curr_team_data.drop(aas,axis=1, inplace=True)

# Sum the averages for AAC
aac = ['AAC_x','AAC_y']
curr_team_data['AAC'] = curr_team_data[aac].mean(axis=1)
curr_team_data.drop(aac,axis=1, inplace=True)

In [28]:
# Calculate attacking strength for Home and Away
curr_team_data['HAtS'] = curr_team_data['HAS'] * curr_team_data['AAC']; # Home Attack Strength
curr_team_data['AAtS'] = curr_team_data['HAC'] * curr_team_data['AAS']; # Away Attack Strength

In [29]:
# Check the dataframe
curr_team_data

                        HAS       HAC       AAS       AAC      HAtS      AAtS
Team
Arsenal            0.901042  0.450000  0.687500  0.483333  0.435503  0.309375
Aston Villa        0.468750  0.550000  0.322917  0.800000  0.375000  0.177604
Bournemouth        0.333333  0.500000  0.500000  2.500000  0.833333  0.250000
Brentford          0.958333  0.450000  0.619792  0.850000  0.814583  0.278906
Brighton           0.500000  0.383333  0.572917  0.400000  0.200000  0.219618
Burnley            0.093750  0.433333  0.125000  0.533333  0.050000  0.054167
Chelsea            0.796875  0.450000  0.588542  0.433333  0.345313  0.264844
Crystal Palace     0.567708  0.500000  0.406250  0.666667  0.378472  0.203125
Everton            0.239583  0.366667  0.328125  0.750000  0.179688  0.120313
Fulham             1.166667  0.833333  0.333333  0.666667  0.777778  0.277778
Leeds              0.625000  0.550000  0.520833  1.166667  0.729167  0.286458
Leicester          0.500000  0.633333  0.588542  1.250000  0.625000  0.372743
Liverpool          1.453125  0.166667  0.750000  0.450000  0.653906  0.125000
Man City           1.666667  0.250000  0.843750  0.333333  0.555556  0.210938
Man United         0.734375  0.533333  0.416667  0.583333  0.428385  0.222222
Newcastle          0.588542  0.550000  0.244792  0.600000  0.353125  0.134635
Norwich            0.062500  0.800000  0.000000  0.800000  0.050000  0.000000
Nottingham Forest  0.500000  0.833333  0.166667  1.500000  0.750000  0.138889
Southampton        0.489583  0.550000  0.390625  0.900000  0.440625  0.214844
Tottenham          0.911458  0.333333  0.682292  0.450000  0.410156  0.227431
Watford            0.125000  1.000000  0.218750  0.500000  0.062500  0.218750
West Ham           0.380208  0.650000  0.385417  0.466667  0.177431  0.250521
Wolves             0.291667  0.233333  0.192708  0.316667  0.092361  0.044965

In [31]:
# Scale the new season data.
curr_team_data = pd.DataFrame(scaler.fit_transform(curr_team_data), columns=curr_team_data.columns, index=curr_team_data.index)
curr_team_data.head()

                  HAS   HAC       AAS       AAC      HAtS      AAtS
Team
Arsenal      0.522727  0.34  0.814815  0.076336  0.492132  0.829995
Aston Villa  0.253247  0.46  0.382716  0.221374  0.414894  0.476479
Bournemouth  0.168831  0.40  0.592593  1.000000  1.000000  0.670703
Brentford    0.558442  0.34  0.734568  0.244275  0.976064  0.748253
Brighton     0.272727  0.26  0.679012  0.038168  0.191489  0.589194

In [32]:
# Create the new season table with the averages and strengths for the home and away teams
curr_fixtures = new_season_df[['Home Team', 'Away Team']]


curr_fixtures = curr_fixtures.merge(curr_team_data['HAS'], left_on='Home Team', right_index=True, how='left')
curr_fixtures = curr_fixtures.merge(curr_team_data['HAC'], left_on='Home Team', right_index=True, how='left') 
curr_fixtures = curr_fixtures.merge(curr_team_data['AAS'], left_on='Away Team', right_index=True, how='left') 
curr_fixtures = curr_fixtures.merge(curr_team_data['AAC'], left_on='Away Team', right_index=True, how='left') 
curr_fixtures = curr_fixtures.merge(curr_team_data['HAtS'], left_on='Home Team', right_index=True, how='left') 
curr_fixtures = curr_fixtures.merge(curr_team_data['AAtS'], left_on='Away Team', right_index=True, how='left') 



fixture_list = curr_fixtures
curr_fixtures

,Home Team,Away Team,HAS,HAC,AAS,AAC,HAtS,AAtS
0,Crystal Palace,Arsenal,0.314935,0.40,0.814815,0.076336,0.419326,0.829995
1,Fulham,Liverpool,0.688312,0.80,0.888889,0.061069,0.929078,0.335352
2,Bournemouth,Aston Villa,0.168831,0.40,0.382716,0.221374,1.000000,0.476479
3,Leeds,Wolves,0.350649,0.46,0.228395,0.000000,0.867021,0.120633
4,Newcastle,Nottingham Forest,0.327922,0.46,0.197531,0.541985,0.386968,0.372613
...,...,...,...,...,...,...,...,...
375,Everton,Bournemouth,0.110390,0.24,0.592593,1.000000,0.165559,0.670703
376,Leeds,Tottenham,0.350649,0.46,0.808642,0.061069,0.867021,0.610154
377,Leicester,West Ham,0.272727,0.56,0.456790,0.068702,0.734043,0.672101
378,Man United,Fulham,0.418831,0.44,0.395062,0.160305,0.483045,0.745226
379,Southampton,Liverpool,0.266234,0.46,0.888889,0.061069,0.498670,0.335352

In [33]:
# Get rid of non-numerical data so we can properly run the dataframe through our model
col_list = [x for x in col_list if x not in ['Result']]
curr_fixtures = curr_fixtures[col_list]
curr_fixtures

          HAS   HAC       AAS       AAC      HAtS      AAtS
0    0.314935  0.40  0.814815  0.076336  0.419326  0.829995
1    0.688312  0.80  0.888889  0.061069  0.929078  0.335352
2    0.168831  0.40  0.382716  0.221374  1.000000  0.476479
3    0.350649  0.46  0.228395  0.000000  0.867021  0.120633
4    0.327922  0.46  0.197531  0.541985  0.386968  0.372613
..        ...   ...       ...       ...       ...       ...
375  0.110390  0.24  0.592593  1.000000  0.165559  0.670703
376  0.350649  0.46  0.808642  0.061069  0.867021  0.610154
377  0.272727  0.56  0.456790  0.068702  0.734043  0.672101
378  0.418831  0.44  0.395062  0.160305  0.483045  0.745226
379  0.266234  0.46  0.888889  0.061069  0.498670  0.335352

[380 rows x 6 columns]

In [34]:
# Run a prediction of this year's results with our new season's dataframe
predicted = model.predict(curr_fixtures)
predicted
predictedDF = pd.DataFrame(predicted, columns=['Predicted'])
predictedDF.head()

   Predicted
0          0
1         -1
2          0
3          0
4          0

In [35]:
# Create the full season table with the predicted results of each game.
fixture_list = fixture_list.merge(predictedDF, left_index=True, right_index=True)
fixture_list

,Home Team,Away Team,HAS,HAC,AAS,AAC,HAtS,AAtS,Predicted
0,Crystal Palace,Arsenal,0.314935,0.40,0.814815,0.076336,0.419326,0.829995,0
1,Fulham,Liverpool,0.688312,0.80,0.888889,0.061069,0.929078,0.335352,-1
2,Bournemouth,Aston Villa,0.168831,0.40,0.382716,0.221374,1.000000,0.476479,0
3,Leeds,Wolves,0.350649,0.46,0.228395,0.000000,0.867021,0.120633,0
4,Newcastle,Nottingham Forest,0.327922,0.46,0.197531,0.541985,0.386968,0.372613,0
...,...,...,...,...,...,...,...,...,...
375,Everton,Bournemouth,0.110390,0.24,0.592593,1.000000,0.165559,0.670703,0
376,Leeds,Tottenham,0.350649,0.46,0.808642,0.061069,0.867021,0.610154,-1
377,Leicester,West Ham,0.272727,0.56,0.456790,0.068702,0.734043,0.672101,-1
378,Man United,Fulham,0.418831,0.44,0.395062,0.160305,0.483045,0.745226,-1
379,Southampton,Liverpool,0.266234,0.46,0.888889,0.061069,0.498670,0.335352,0

In [36]:
# Set up our final table.
final_predicted_table= pd.DataFrame(index=fixture_list['Home Team'].unique())
final_predicted_table['Predicted Points'] = 0

In [37]:
# Calculate the total points form the number of wins, draws and losses.
final_predicted_table['Predicted Points'] = 0 

def make_actual_table(x, ht, at, which):
    if x == 1:
        final_predicted_table.loc[ht, which] += 3
    elif x == 0:
        final_predicted_table.loc[ht, which] += 1
        final_predicted_table.loc[at, which] += 1
    elif x == -1:
        final_predicted_table.loc[at, which] += 3

fixture_list.apply(lambda x: make_actual_table(x.Predicted, x['Home Team'], x['Away Team'], 'Predicted Points'), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
375    None
376    None
377    None
378    None
379    None
Length: 380, dtype: object

In [35]:
final_predicted_table.sort_values('Predicted Points', ascending=0)

                   Predicted Points
Liverpool                        96
Man United                       88
Crystal Palace                   88
Leicester                        84
Arsenal                          78
Tottenham                        69
Man City                         63
Brentford                        60
Brighton                         50
Southampton                      46
Leeds                            44
West Ham                         43
Everton                          41
Chelsea                          39
Bournemouth                      38
Fulham                           37
Newcastle                        34
Aston Villa                      31
Wolves                           30
Nottingham Forest                26